#  WV Breding Bird Atlas II Data Products
Nathan Tarr and Jessie Jordan

USGS NC Cooperative Fish and Wildlife Research Unit

North Carolina State University

Raleigh, NC

## Methods
We investigated the ability of the 2nd WV Breeding Bird Atlas (2009-2014) to detect and model species.  We extracted species lists from data provided to us by WVBBA2 staff.  WVBBA produced various data products (maps) for species, but wasn't able to model all they species that they detected.  Additionally, they were able to model the distribution of occurrence for some species for which density couldn't be modeled, and evidence of breeding was not obtained for every species that was detected.

In [1]:
import pandas as pd
import repo_functions as fun 
import numpy as np
pd.set_option('display.width', 2000)
pd.set_option('display.max_colwidth', 400)
pd.set_option('display.max_rows', 400)
pd.set_option('display.max_columns', 15)

# Read in the spp crosswalk
df = pd.read_csv(fun.dataDir + "SpeciesLists/WV_GAP_Atlas3.csv", header=0, 
                        names=["common_name", "GAP_sci_name", "WVBBA_sci_name", "GAP_code", "WV_code", 'GAP_modeled',
                               'detected', 'occupancy_map', 'density_map', 'change_map', 'breeding_evid_map', 
                               "GAP_habitat(ha)", "point_count_individuals", "survey_points", "count_rate", "%_of_blocks", 
                               "notes"],
                       dtype={"common_name":str, "WVBBA_sci_name":str, "%_of_blocks":float, "WV_code":str, })

# Drop the GAP columns, they aren't used in this analysis
df = df.drop(["GAP_sci_name", "GAP_code", "GAP_modeled", "GAP_habitat(ha)", "notes"], axis=1)

## Results

### Species detected, but no evidence of breeding
Evidence of Mississippi Kite breeding was obtained after the atlas period, in 2018.

In [3]:
nobreed = (df[(df['detected'] == 1) & 
        (df['breeding_evid_map'] == 0)]
     .drop(["WVBBA_sci_name", "WV_code"], axis=1)
     .set_index(["common_name"]))
nobreed

                           detected  occupancy_map  density_map  change_map  breeding_evid_map  point_count_individuals  survey_points  count_rate  %_of_blocks
common_name
Double-crested Cormorant          1              0            0           0                  0                      NaN            NaN         NaN          0.1
Black-crowned Night-heron         1              0            0           0                  0                      NaN            NaN         NaN          NaN
White-throated Sparrow            1              0            0           0                  0                      NaN            NaN         NaN          NaN
American Coot                     1              0            0           0                  0                      NaN            NaN         NaN          NaN
Golden Eagle                      1              0            0           0                  0                      NaN            NaN         NaN          NaN
Common Gallinule                  1              0            0           0                  0                      NaN            NaN         NaN          NaN
Mississippi Kite                  1              0            0           0                  0                      NaN            NaN         NaN          NaN

### Occupancy mapped, but not density

In [4]:
nodensity = (df[(df['occupancy_map'] == 1) & 
        (df['density_map'] == 0)]
     .drop(["WVBBA_sci_name", "WV_code"], axis=1)
     .set_index(["common_name"]))
nodensity

                               detected  occupancy_map  density_map  change_map  breeding_evid_map  point_count_individuals  survey_points  count_rate  %_of_blocks
common_name
American Kestrel                      1              1            0           1                  1                      NaN            NaN         NaN          0.4
Blue Grosbeak                         1              1            0           1                  1                      NaN            NaN         NaN          0.3
House Wren                            1              1            0           1                  1                    190.0          158.0         5.0          4.1
Northern Waterthrush                  1              1            0           0                  1                      NaN            NaN         NaN          0.2
Purple Martin                         1              1            0           1                  1                      NaN            NaN         NaN          0.6
Red-headed Woodpecker                 1              1            0           0                  1                      NaN            NaN         NaN          0.2
Ruffed Grouse                         1              1            0           1                  1                      NaN            NaN         NaN          0.3
Cliff Swallow                         1              1            0           0                  1                      NaN            NaN         NaN          0.1
Kentucky Warbler                      1              1            0           1                  1                    194.0          172.0         5.4          4.5
Rock Pigeon                           1              1            0           1                  1                    179.0           30.0         0.9          0.8
Swainson's Warbler                    1              1            0           0                  1                      NaN            NaN         NaN          0.2
Bald Eagle                            1              1            0           0                  1                      NaN            NaN         NaN          0.1
Bank Swallow                          1              1            0           0                  1                      NaN            NaN         NaN          0.1
Black-billed Cuckoo                   1              1            0           1                  1                     62.0           55.0         1.7          1.4
Brown Creeper                         1              1            0           0                  1                      NaN            NaN         NaN          0.5
Common Raven                          1              1            0           1                  1                    206.0          154.0         4.8          4.0
Eastern Screech-owl                   1              1            0           0                  1                      NaN            NaN         NaN          0.2
Golden-crowned Kinglet                1              1            0           0                  1                     61.0           57.0         1.8          1.5
Orchard Oriole                        1              1            0           1                  1                    123.0          111.0         3.5          2.9
Prairie Warbler                       1              1            0           1                  1                     89.0           69.0         2.2          1.8
Turkey Vulture                        1              1            0           1                  1                    196.0           75.0         2.4          2.0
Wood Duck                             1              1            0           1                  1                     97.0           40.0         1.3          1.0
Yellow-bellied Sapsucker              1              1            0           0                  1                     38.0           30.0         0.9          0.8
Alder Flycatcher                      1              1            0           1                  1                     62.0           42.0         1.3          1.1
Black Vulture                         1              1            0           1                  1                      NaN            NaN         NaN          0.2
Black-throated Blue Warbler           1              1            0           0                  1                    139.0          111.0         3.5          2.9
Broad-winged Hawk                     1              1            0           1                  1                     33.0           31.0         1.0          0.8
Golden-winged Warbler                 1              1            0           1                  1                     50.0           37.0         1.2          1.0
Magnolia Warbler                      1              1            0           1                  1                    186.0          131.0         4.1          3.4
Red-shouldered Hawk                   1              1            0           1                  1                     83.0           73.0         2.3          1.9
Vesper Sparrow                        1              1            0           1                  1                      NaN            NaN         NaN          0.5
Yellow-rumped Warbler                 1              1            0           0                  1                      NaN            NaN         NaN          0.7
American Woodcock                     1              1            0           1                  1                      NaN            NaN         NaN          0.1
Canada Warbler                        1              1            0           1                  1                      NaN            NaN         NaN          0.7
Common Nighthawk                      1              1            0           0                  1                      NaN            NaN         NaN          0.0
Great Blue Heron                      1              1            0           1                  1                     43.0           35.0         1.1          0.9
House Finch                           1              1            0           1                  1                    103.0           47.0         1.5          1.2
Killdeer                              1              1            0           1                  1                    127.0           90.0         2.8          2.4
Louisiana Waterthrush                 1              1            0           1                  1                    216.0          191.0         6.0          5.0
Mourning Warbler                      1              1            0           1                  1                      NaN            NaN         NaN          0.6
Northern Rough-winged Swallow         1              1            0           1                  1                    166.0           78.0         2.5          2.0
Ruby-throated Hummingbird             1              1            0           1                  1                    130.0          117.0         3.7          3.1
Warbling Vireo                        1              1            0           1                  1                     46.0           34.0         1.1          0.9
Wild Turkey                           1              1            0           1                  1                    113.0           89.0         2.8          2.3
Winter Wren                           1              1            0           1                  1                     56.0           51.0         1.6          1.3
Barred Owl                            1              1            0           1                  1                     40.0           37.0         1.2          1.0
Bobolink                              1              1            0           1                  1                    125.0           43.0         1.4          1.1
Cooper's Hawk                         1              1            0           1                  1                      NaN            NaN         NaN          0.4
Fish Crow                             1              1            0           1                  1                      NaN            NaN         NaN          0.1
Great Horned Owl                      1              1            0           1                  1                      NaN            NaN         NaN          0.2
Green Heron                           1              1            0           1                  1                     46.0           36.0         1.1          0.9
Grasshopper Sparrow                   1              1            0           1                  1                     95.0           60.0         1.9          1.6
Mallard                               1              1            0           1                  1                     85.0           37.0         1.2          1.0
Purple Finch                          1              1            0           0                  1                      NaN            NaN         NaN          0.2
Rose-breasted Grosbeak                1              1            0           1                  1                    182.0          153.0         4.8          4.0
Swamp Sparrow                         1              1            0           1                  1                     73.0           46.0         1.4          1.2
Blackburnian Warbler                  1              1            0           1                  1                    126.0          103.0         3.2          2.7
Eastern Kingbird                      1              1            0           1                  1                    121.0          100.0         3.1          2.6
Least Flycatcher                      1              1            0           0                  1                     85.0           68.0         2.1          1.8
Loggerhead Shrike                     1              1            0           0                  1                      NaN            NaN         NaN          0.0
Pine Warbler                          1              1            0           1                  1                     45.0           34.0         1.1          0.9
Red-tailed Hawk                       1              1            0           1                  1                     62.0           56.0         1.8          1.5
Summer Tanager                        1              1            0           1                  1                     76.0           67.0         2.1          1.8
Swainson's Thrush                     1              1            0           0                  1                      NaN            NaN         NaN          0.8
Worm-eating Warbler                   1              1            0           1                  1                    149.0          125.0         3.9          3.3
Belted Kingfisher                     1              1            0           1                  1                     86.0           78.0         2.5          2.0
Canada Goose                          1              1            0           1                  1                    591.0           78.0         2.5          2.0
Hairy Woodpecker                      1              1            0           1                  1                    146.0          135.0         4.2          3.5
Hermit Thrush                         1              1            0           1                  1                    157.0          116.0         3.6          3.0
Savannah Sparrow                      1              1            0           1                  1                     67.0           45.0         1.4          1.2
Sharp-shinned Hawk                    1              1            0           0                  1                      NaN            NaN         NaN          0.1
Willow Flycatcher                     1              1            0           1                  1                     97.0           73.0         2.3          1.9
Whip-poor-will                        1              1            0           0                  1                      NaN            NaN         NaN          0.3
Common Merganser                      1              1            0           0                  1                      NaN            NaN         NaN          0.1

### Breeding evidence mapped, but not change in occurrence patterns

In [5]:
nochange = (df[(df['breeding_evid_map'] == 1) & 
        (df['change_map'] == 0)]
     .drop(["WVBBA_sci_name", "WV_code"], axis=1)
     .set_index(["common_name"]))
nochange

                             detected  occupancy_map  density_map  change_map  breeding_evid_map  point_count_individuals  survey_points  count_rate  %_of_blocks
common_name
Hooded Merganser                    1              0            0           0                  1                      NaN            NaN         NaN          NaN
Northern Waterthrush                1              1            0           0                  1                      NaN            NaN         NaN          0.2
Prothonotary Warbler                1              0            0           0                  1                      NaN            NaN         NaN          NaN
Red-breasted Nuthatch               1              0            0           0                  1                     65.0           61.0         1.9          1.6
Red-headed Woodpecker               1              1            0           0                  1                      NaN            NaN         NaN          0.2
Cliff Swallow                       1              1            0           0                  1                      NaN            NaN         NaN          0.1
Dickcissel                          1              0            0           0                  1                      NaN            NaN         NaN          0.0
Eurasian Collared-dove              1              0            0           0                  1                      NaN            NaN         NaN          NaN
Henslow's Sparrow                   1              0            0           0                  1                      NaN            NaN         NaN          0.2
Northern Goshawk                    1              0            0           0                  1                      NaN            NaN         NaN          NaN
Northern Saw-whet Owl               1              0            0           0                  1                      NaN            NaN         NaN          NaN
Peregrine Falcon                    1              0            0           0                  1                      NaN            NaN         NaN          NaN
Swainson's Warbler                  1              1            0           0                  1                      NaN            NaN         NaN          0.2
Bald Eagle                          1              1            0           0                  1                      NaN            NaN         NaN          0.1
Bank Swallow                        1              1            0           0                  1                      NaN            NaN         NaN          0.1
Brown Creeper                       1              1            0           0                  1                      NaN            NaN         NaN          0.5
Eastern Screech-owl                 1              1            0           0                  1                      NaN            NaN         NaN          0.2
Golden-crowned Kinglet              1              1            0           0                  1                     61.0           57.0         1.8          1.5
Red Crossbill                       1              0            0           0                  1                      NaN            NaN         NaN          NaN
Sora                                1              0            0           0                  1                      NaN            NaN         NaN          0.0
Yellow-bellied Sapsucker            1              1            0           0                  1                     38.0           30.0         0.9          0.8
Black-throated Blue Warbler         1              1            0           0                  1                    139.0          111.0         3.5          2.9
Horned Lark                         1              0            0           0                  1                      NaN            NaN         NaN          0.1
Nashville Warbler                   1              0            0           0                  1                      NaN            NaN         NaN          0.1
Pied-billed Grebe                   1              0            0           0                  1                      NaN            NaN         NaN          NaN
Veery                               1              1            1           0                  1                    299.0          204.0         6.4          5.3
Yellow-rumped Warbler               1              1            0           0                  1                      NaN            NaN         NaN          0.7
Common Nighthawk                    1              1            0           0                  1                      NaN            NaN         NaN          0.0
Pine Siskin                         1              0            0           0                  1                      NaN            NaN         NaN          NaN
Virginia Rail                       1              0            0           0                  1                      NaN            NaN         NaN          NaN
Barn Owl                            1              0            0           0                  1                      NaN            NaN         NaN          NaN
Purple Finch                        1              1            0           0                  1                      NaN            NaN         NaN          0.2
Blue-winged Teal                    1              0            0           0                  1                      NaN            NaN         NaN          NaN
Least Bittern                       1              0            0           0                  1                      NaN            NaN         NaN          0.0
Least Flycatcher                    1              1            0           0                  1                     85.0           68.0         2.1          1.8
Long-eared Owl                      1              0            0           0                  1                      NaN            NaN         NaN          NaN
Loggerhead Shrike                   1              1            0           0                  1                      NaN            NaN         NaN          0.0
Northern Harrier                    1              0            0           0                  1                      NaN            NaN         NaN          0.1
Olive-sided Flycatcher              1              0            0           0                  1                      NaN            NaN         NaN          NaN
Swainson's Thrush                   1              1            0           0                  1                      NaN            NaN         NaN          0.8
American Black Duck                 1              0            0           0                  1                      NaN            NaN         NaN          0.0
American Bittern                    1              0            0           0                  1                      NaN            NaN         NaN          0.2
Cedar Waxwing                       1              1            1           0                  1                   1182.0          477.0        15.0         12.5
Chuck-will's-widow                  1              0            0           0                  1                      NaN            NaN         NaN          NaN
Dark-eyed Junco                     1              1            1           0                  1                    248.0          172.0         5.4          4.5
Sharp-shinned Hawk                  1              1            0           0                  1                      NaN            NaN         NaN          0.1
Upland Sandpiper                    1              0            0           0                  1                      NaN            NaN         NaN          NaN
Whip-poor-will                      1              1            0           0                  1                      NaN            NaN         NaN          0.3
Common Merganser                    1              1            0           0                  1                      NaN            NaN         NaN          0.1
Osprey                              1              0            0           0                  1                      NaN            NaN         NaN          0.1
Clay-colored Sparrow                1              0            0           0                  1                      NaN            NaN         NaN          NaN
Merlin                              1              0            0           0                  1                      NaN            NaN         NaN          NaN
Wilson's Snipe                      1              0            0           0                  1                      NaN            NaN         NaN          NaN
Yellow-bellied Flycatcher           1              0            0           0                  1                      NaN            NaN         NaN          NaN

### Density mapped, but not change occurrence patterns

In [6]:
nobreed = (df[(df['density_map'] == 1) & 
        (df['change_map'] == 0)]
     .drop(["WVBBA_sci_name", "WV_code"], axis=1)
     .set_index(["common_name"]))
nobreed

                 detected  occupancy_map  density_map  change_map  breeding_evid_map  point_count_individuals  survey_points  count_rate  %_of_blocks
common_name
Veery                   1              1            1           0                  1                    299.0          204.0         6.4          5.3
Cedar Waxwing           1              1            1           0                  1                   1182.0          477.0        15.0         12.5
Dark-eyed Junco         1              1            1           0                  1                    248.0          172.0         5.4          4.5

### Occupancy mapped, but not change in its patterns

In [7]:
noch = (df[(df['occupancy_map'] == 1) & 
        (df['change_map'] == 0)]
     .drop(["WVBBA_sci_name", "WV_code"], axis=1)
     .set_index(["common_name"]))
noch

                             detected  occupancy_map  density_map  change_map  breeding_evid_map  point_count_individuals  survey_points  count_rate  %_of_blocks
common_name
Northern Waterthrush                1              1            0           0                  1                      NaN            NaN         NaN          0.2
Red-headed Woodpecker               1              1            0           0                  1                      NaN            NaN         NaN          0.2
Cliff Swallow                       1              1            0           0                  1                      NaN            NaN         NaN          0.1
Swainson's Warbler                  1              1            0           0                  1                      NaN            NaN         NaN          0.2
Bald Eagle                          1              1            0           0                  1                      NaN            NaN         NaN          0.1
Bank Swallow                        1              1            0           0                  1                      NaN            NaN         NaN          0.1
Brown Creeper                       1              1            0           0                  1                      NaN            NaN         NaN          0.5
Eastern Screech-owl                 1              1            0           0                  1                      NaN            NaN         NaN          0.2
Golden-crowned Kinglet              1              1            0           0                  1                     61.0           57.0         1.8          1.5
Yellow-bellied Sapsucker            1              1            0           0                  1                     38.0           30.0         0.9          0.8
Black-throated Blue Warbler         1              1            0           0                  1                    139.0          111.0         3.5          2.9
Veery                               1              1            1           0                  1                    299.0          204.0         6.4          5.3
Yellow-rumped Warbler               1              1            0           0                  1                      NaN            NaN         NaN          0.7
Common Nighthawk                    1              1            0           0                  1                      NaN            NaN         NaN          0.0
Purple Finch                        1              1            0           0                  1                      NaN            NaN         NaN          0.2
Least Flycatcher                    1              1            0           0                  1                     85.0           68.0         2.1          1.8
Loggerhead Shrike                   1              1            0           0                  1                      NaN            NaN         NaN          0.0
Swainson's Thrush                   1              1            0           0                  1                      NaN            NaN         NaN          0.8
Cedar Waxwing                       1              1            1           0                  1                   1182.0          477.0        15.0         12.5
Dark-eyed Junco                     1              1            1           0                  1                    248.0          172.0         5.4          4.5
Sharp-shinned Hawk                  1              1            0           0                  1                      NaN            NaN         NaN          0.1
Whip-poor-will                      1              1            0           0                  1                      NaN            NaN         NaN          0.3
Common Merganser                    1              1            0           0                  1                      NaN            NaN         NaN          0.1

### Density mapped, but not occupancy
If there was enough data for density mapping, then occupancy could also be modeled.

In [8]:
noocc = (df[(df['occupancy_map'] == 0) & 
        (df['density_map'] == 1)]
     .drop(["WVBBA_sci_name", "WV_code"], axis=1)
     .set_index(["common_name"]))
noocc

Empty DataFrame
Columns: [detected, occupancy_map, density_map, change_map, breeding_evid_map, point_count_individuals, survey_points, count_rate, %_of_blocks]
Index: []